span {
    display: block;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: white;
}

.name {
    margin-left: 5%;
    font-size: 4.5vw;
    width: 90%;
}

.centered {
    text-align: center;
}

.title {
    width: 57%;
    display: inline-flex;
}

.title h1 {
    color: white;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    border-right: .15em solid rgb(182, 52, 177);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(60, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(182, 52, 177); }
  }

@media only screen and (max-width: 600px) {
    .name {
        font-size: 12vw;
    }

    .title h1 {
        font-size: 3.5vw;
    }
}