.name-box {
    position: absolute;
    top: 45%;
    left: 30%;
    height: 10%;
    border-style: solid;
    border-color: white;
    padding: 3% 5%;
}

.name {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 50px;
    color: white;
}