span {
    display: block;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: white;
}

.name {
    text-align: center;
    margin-left: 5%;
    font-size: 4.5vw;
    width: 90%;
}

.title {
    font-size: 3vw;
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 12vw;
    }

    .title {
        font-size: 7.5vw;
    }
}