name-box {
    display: block;
    position: relative;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 20%;
    border-style: solid;
    border-color: white;
    padding: 3% 1%;
}

navigation {
    display: block;
    position: relative;
    top: 24%;
    left: 29%;
}

@media only screen and (max-width: 600px) {
    name-box {
        top: 15%;
        left: 10%;
        width: 80%;
        height: 25%;
        border-style: hidden;
    }
}