body {
    margin: 0%;
    background-color: rgb(42, 42, 42);
}

name-box {
    display: block;
    position: relative;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 20%;
    padding: 3% 1%;
}

navigation {
    display: block;
    position: relative;
    top: 24%;
    left: 25.75%;
}

@media only screen and (max-width: 600px) {
    name-box {
        top: 0%;
        left: 10%;
        width: 80%;
        height: 25%;
        border-style: hidden;
    }

    navigation {
        left: 0%;
        top: 10%;
    }
}