a {
    padding-right: 10%;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    color: white;
}

@media only screen and (max-width: 600px) {
    a {
        display: block;
        padding-bottom: 20%;
    }
}