span {
    padding-right: 10%;
    font-family: "Courier New", Courier, monospace;
    color: white;
}

a {
    padding-right: 10%;
    font-family: "Courier New", Courier, monospace;
    color: white;
}