#container {
    width: 100%;
    margin: 0 0;
    padding: 50px 0 150px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    #container {
        padding-top: 0;
    }
}

@media screen and (min-width:1000px) {
    #container {
        width: 50%;
    }
}

@media screen and (max-width: 349px) {
    #mobile-buttons {
        padding-left: 12%;
    }
}

@media screen and (min-width: 350px) and (max-width: 499px) {
    #mobile-buttons {
        padding-left: 16%;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    #mobile-buttons {
        padding-left: 22%;
    }
}