<div id="container" [hidden]="doneLoading">
    <slider-button
        *ngIf="resumeIconUrl"
        text="Resume" 
        [href]="resumeUrl" 
        [imgUrl]="resumeIconUrl">
    </slider-button>
    <slider-button 
        *ngIf="githubIconUrl"
        text="GitHub" 
        href="https://github.com/reillymarkowitz" 
        [imgUrl]="githubIconUrl">
    </slider-button>
    <slider-button
        *ngIf="linkedinIconUrl"
        text="LinkedIn"
        href="https://www.linkedin.com/in/reillymarkowitz/"
        [imgUrl]="linkedinIconUrl">
    </slider-button>
</div>